@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #acbfb7;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.cardCalculadora {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: #000000;

    padding: 30px;
    border-radius: 20px;

    background-color: rgb(236, 236, 236);
}

.inputNumero {
    width: 180px;

    padding: 10px 15px 10px 15px;
    border: none;
    border-bottom: #848484 2px solid;
    background-color: #0000000a;
}

.inputNumero::placeholder {
    color: #303030;
}

.selectBase {
    width: 180px;
    padding: 10px 15px 10px 15px;
    background-color: #0000000a;
    outline: none;
    inline-size: none;
    border-bottom: #848484 2px solid;

}

option {
    background-color: #848484;
    color: white;

    padding: 10px 15px 10px 15px;
}



button {

    border-radius: 50px;
    padding: 5px 15px 5px 15px;

    background-color: #626262;
    color: white;
    border: none;
    font-size: 16px;

    width: 150px;
    transition: ease-in-out 0.3s;


}

button:hover {
    background-color: #030351;
    width: 180px;
    color: white;
}

.cardResultado {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.cardNumeroResultado {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #dcdcdc;
    border-radius: 5px;
    padding: 5px;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 50px;
    font-weight: 500;
    text-transform: uppercase;
}